swagger: '2.0'
info:
  description: RESTful API for ISYS Social Media Platform
  version: 0.0.1-SNAPSHOT
  title: ISYS Social Media Platform API
  contact:
    name: Angus Young
    email: angus@dotwave.io
host: 'api.dotwave.io'
basePath: /api/v1/isys
tags:
  - name: auth-controller
    description: Auth Controller
  - name: post-controller
    description: Post Controller
  - name: profile-controller
    description: Profile Controller
paths:
  /auth:
    post:
      tags:
        - auth-controller
      summary: authenticateUser
      operationId: authenticateUserUsingPOST
      consumes:
        - application/json
      produces:
        - 'application/json'
      parameters:
        - in: body
          name: authenticationRequest
          description: authenticationRequest
          required: true
          schema:
            $ref: '#/definitions/JwtRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/JwtResponse'
        '401':
          description: Unauthorized
      deprecated: false
  /auth/refresh:
    get:
      tags:
        - auth-controller
      summary: refreshAuthenticationToken
      operationId: refreshAuthenticationTokenUsingGET
      produces:
        - 'application/json'
      parameters:
        - name: Authorization
          in: header
          description: Authorization
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/JwtResponse'
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      deprecated: false
  /auth/register:
    post:
      tags:
        - auth-controller
      summary: registerUser
      operationId: registerUserUsingPOST
      consumes:
        - application/json
      produces:
        - 'application/json'
      parameters:
        - in: body
          name: body
          description: body
          required: true
          schema:
            $ref: '#/definitions/JwtRequest'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/JwtResponse'
        '400':
          description: Bad Request
      deprecated: false
  /posts:
    get:
      tags:
        - post-controller
      summary: getPosts
      operationId: getPostsUsingGET
      produces:
        - 'application/json'
      parameters:
        - name: page
          in: query
          description: page
          required: false
          type: string
        - name: size
          in: query
          description: size
          required: false
          type: string
        - name: username
          in: query
          description: username
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Post'
        '204':
          description: No Content
        '401':
          description: Unauthorized
      deprecated: false
    post:
      tags:
        - post-controller
      summary: createPost
      operationId: createPostUsingPOST
      consumes:
        - application/json
      produces:
        - 'application/json'
      parameters:
        - in: body
          name: post
          description: post
          required: true
          schema:
            $ref: '#/definitions/CreatePost'
      responses:
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /profile:
    get:
      tags:
        - profile-controller
      summary: getUser
      operationId: getUserUsingGET
      produces:
        - 'application/json'
      parameters:
        - name: username
          in: query
          description: username
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Profile'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      deprecated: false
definitions:
  JwtRequest:
    type: object
    properties:
      username:
        type: string
      password:
        type: string
    title: JwtRequest
  JwtResponse:
    type: object
    properties:
      jwtToken:
        type: string
      profile:
        $ref: '#/definitions/Profile'
      expiryDate:
        type: string
  Post:
    type: object
    properties:
      content:
        type: string
      id:
        type: string
      signatureKey:
        type: string
      timestamp:
        type: integer
        format: int64
      username:
        type: string
    title: Post
  CreatePost:
    type: object
    properties:
      content:
        type: string
      signatureKey:
        type: string
    title: Post
  Profile:
    type: object
    properties:
      accountCreatedTimestamp:
        type: integer
        format: int64
      id:
        type: string
      profileImageUrl:
        type: string
      username:
        type: string
    title: Profile
